<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <title>Trang đăng ký</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }
      body {
        background: #1abc9c;
        overflow: hidden;
      }
      ::selection {
        background: rgba(26, 188, 156, 0.3);
      }
      .container {
        max-width: 440px;
        padding: 0 20px;
        margin: 170px auto;
      }
      .wrapper {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
      }
      .wrapper .title {
        height: 90px;
        background: #16a085;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .wrapper form {
        padding: 30px 25px 25px 25px;
      }
      .wrapper form .row {
        height: 45px;
        margin-bottom: 15px;
        position: relative;
      }
      .wrapper form .row input {
        height: 100%;
        width: 100%;
        outline: none;
        padding-left: 60px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        font-size: 16px;
        transition: all 0.3s ease;
      }
      form .row input:focus {
        border-color: #16a085;
        box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
      }
      form .row input::placeholder {
        color: #999;
      }
      .wrapper form .row i {
        position: absolute;
        width: 47px;
        height: 100%;
        color: #fff;
        font-size: 18px;
        background: #16a085;
        border: 1px solid #16a085;
        border-radius: 5px 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .wrapper form .button input {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding-left: 0px;
        background: #16a085;
        border: 1px solid #16a085;
        cursor: pointer;
        width: 100%; /* Ensure the button takes full width */
      }
      form .button input:hover {
        background: #12876f;
      }
      .wrapper form .signup-link {
        text-align: center;
        margin-top: 20px;
        font-size: 17px;
      }
      .wrapper form .signup-link a {
        color: #16a085;
        text-decoration: none;
      }
      .btn {
        background-color: #16a085;
      }
      form .signup-link a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="container mt-4">
      <div class="wrapper">
        <div class="title"><span>Đăng ký tài khoản</span></div>
        <form action="/user/signup" method="post">
          <div class="mb-3">
            <label for="fullName" class="form-label">Họ và tên</label>
            <div class="row">
              <i class="fas fa-user"></i>
              <input
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Địa chỉ email</label
            >
            <div class="row">
              <i class="fas fa-envelope"></i>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                name="email"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Mật khẩu</label
            >
            <div class="row">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
              />
            </div>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <%- include('partials/scripts.js') %>
  </body>
</html>
